# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
myvenv/
.env

# Django database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# IDE configurations
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
